<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="header">
        <title>Spring Boot Data JPA MySQL project</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8" />

        <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/css/styles.css}" rel="stylesheet" />

        <script th:src="@{/js/jquery/jquery.min.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    </head>
</html>